@import '../config';

header.homepage-header {
   height: calc(100vh - $navHeight);
   margin-top: $navHeight;
   position: relative;
   @include Flex(c, none);
   flex-direction: column;
   
   article.text-container {
      position: relative;
      z-index: 3;
      width: 600px;
      margin-left: clamp(1em, 6vw, 5em);
      max-width: 90%;

      h1,
      p {
         transform: translateX(-200%);
         animation: anim 2s;
         animation-fill-mode: forwards
      }

      @keyframes anim {
         0% { transform: translateX(-200%) }
         100% { transform: translateX(0) }
      }

      h1 {
         @include Clamp(2, 8, 3.5);
         font-weight: 700;
         font-family: 'Comfortaa', cursive;
      }

      p {
         &.small {
            font-weight: 600;
            color: black;
            @include Clamp(.85, 4, 1);
            margin-bottom: .75em;
         }

         &.big {
            @include Clamp(.9, 4, 1.1);
            color: black;
            margin-bottom: 3em;
            margin-top: .25em;
            font-weight: 400;
            border-left: 3px solid royalblue;
            padding-left: .5em;

            @media (max-width: 480px) { margin-top: 1em; }
         }
      }

      div.buttons-container {
         button {
            padding: clamp(.5em, 5vw, 1.25em) clamp(1.5em, 5vw, 2.5em);
            outline: 0;
            border: 0;
            border-radius: .4em;
            cursor: pointer;
            transition: .2s;

            label {
               color: $clr-white;
               @include Clamp(.85, 4, 1);
               font-family: 'Sora', sans-serif;
               font-weight: 600;
            }

            &:nth-child(1) { 
               background: rgba(65, 105, 225, 0.9); 
               margin-right: 1em;

               &:hover { background: darken(royalblue, 5%) }
            }
         }
      }
   }

   figure {
      @include Absolute(0, 0);
      @include FullSize;

      img {
         @include FullSize;
         object-fit: cover;
         object-position: 20% 20%;
      }
   }
}