@import '../config';

section.preview {
   height: 80vh;
   @include Flex(c, c);
   position: relative;

   article.text,
   section.slider {
      width: 460px;
      max-width: 46%;
      transition: 1.5s;
   }

   article.text {
      border-left: 3px solid purple;
      height: 40vh;
      padding: .5em 0 .5em 1em;
      margin-right: 1em;
      @include Flex(sb, none);
      flex-direction: column;
      transform: translateX(-200%);

      ul {
         display: flex;

         li {
            margin-right: .75em;
            @include Rectangle(30px);
            cursor: pointer;
            transition: .3s;

            svg { @include FullSize; }
         
            &:hover {
               transform: scale(1.15);
            }
         }
      }

      h1 {
         @include Clamp(1, 6, 1.75);
         font-weight: 600;
         margin-bottom: .5em;
      }

      p {
         font-family: 'Comfortaa', cursive;
         font-weight: 700;
         line-height: 1.5em;
         @include Clamp(.9, 4, 1);

         color: #606060;
      }
   }

   section.slider {
      position: relative;
      transform: translateX(200%);

      ul {
         position: absolute;
         left: 50%;
         top: 100%;
         transform: translateX(-50%) translateY(100%);
         display: flex;

         li {
            border-radius: 50%;
            cursor: pointer;
            transition: .3s;
            margin: 0 .25em;
            @include Rectangle(16px);
            background: rgb(161, 161, 161);

            &.active {
               pointer-events: none;
               background: royalblue;
            }

            &:hover {
               transform: scale(1.1);
               background: darken(gray, 5%);
            }
         }
      }

      div.wrap {
         overflow: hidden;
      }

      div.moving {
         transition: .5s;
         width: inherit;
         display: flex;

         figure {
            flex-shrink: 0;
            width: 100%;
            height: 40vh;
            overflow: hidden;

            img {
               @include FullSize;
               object-fit: cover;
               border-radius: .2em;
            }
         }
      }
   }

   @media (max-width: 768px) {
      flex-direction: column;
      height: auto;
      padding: 2em clamp(.5em, 5vw, 1.5em);

      article.text {
         margin-bottom: 2em;
      }

      article.text,
      section.slider {
         width: 100%;
         max-width: 100%;
      }
   }
}