@import '../config';

section.pricing {
   height: 100vh;
   position: relative;
   background: rgb(245, 245, 245);

   div.main-container {
      height: inherit;
      @include Center(90%);
      @include Flex(sa, none);
      flex-direction: column;
      z-index: 2;
      position: relative;
   }

   div.bg {
      background-image: url('../images/pricing.jpg');
      background-size: cover;
      width: 100%;
      height: 50vh;
      @include Absolute(0, 0);
   }

   section.text {
      color: $clr-white;
      
      h1 {
         @include Clamp(1.5, 5, 2);
         font-family: 'Sora', sans-serif;font-family: 'Comfortaa', cursive;
         font-weight: 700;
         margin-bottom: .5em;
      }

      p {
         font-weight: 500;
         @include Clamp(.9, 5, 1);
      }
   }

   section.container {
      @include Flex(sb, c);
      height: 75%;

      $colors: (1: 'royalblue', 2: 'rgb(225, 149, 7)', 3: 'red');

      article.plan {
         width: 30%;
         height: 100%;
         border-radius: .25em;
         border: 1px solid grey;
         box-shadow: 0 0 3px $clr-black, 0 0 6px $clr-black;
         background: #FFFFFF;
         background: -webkit-linear-gradient(top left, #FFFFFF, #CBCFD7);
         background: -moz-linear-gradient(top left, #FFFFFF, #CBCFD7);
         background: linear-gradient(to bottom right, #FFFFFF, #CBCFD7);
         @include Flex(sb, c);
         flex-direction: column;
         overflow: hidden;

         div.wrap { 
            width: 100%; 

            &.bottom {
               @include Flex(c, c);
               flex-direction: column;
            }
         }

         h2.title {
            width: 100%;
            @include Clamp(1.25, 5, 1.75);
            text-align: center;
            font-weight: 700;
            padding: .75em 0;
            font-family: 'Comfortaa', cursive;
            letter-spacing: 1px;
         }

         h3.price {
            font-family: 'Comfortaa', cursive;
            @include Clamp(2.75, 8, 3.75);
            font-weight: 100;
         }

         h4.list-info {
            @include Clamp(.9, 5, 1);
            font-weight: 600;
            margin-bottom: 1em;
         }

         div {
            &.wrap.list {
               padding: clamp(.5em, 5vw, 1.5em);
            }
         }

         button {
            width: 55%;
            padding: 1em 0;
            border-radius: .2em;
            outline: 0;
            margin: 2em 0 1em 0;
            border: 0;
            cursor: pointer;
            transition: .3s;

            label {
               font-weight: 600;
               font-family: 'Sora', sans-serif;
               @include Clamp(.9, 4, 1);
            }

            &:hover {
               width: 90%;
               filter: brightness(90%);
            }
         }

         ul {
            list-style: none;

            li {
               font-family: 'Comfortaa', cursive;
               font-weight: 700;
               @include Clamp(.8, 4, .9);
               &:not(:last-child) { margin-bottom: .75em; }
               @include Flex(none, c);

               &.true span { color: green; }
               &.false span { color: red; }

               span {
                  @include Rectangle(25px);
                  margin-right: .25em;

                  svg { @include FullSize; }
               }
            }
         }
         
         @each $i, $x in $colors {
            &:nth-child(#{$i}) {
               h2,
               button {
                  background: #{$x};
                  color: $clr-white;
               }

               h3 { color: #{$x}; }
            }
         }
      }
   }

   @media (max-width: 1000px) {
      height: auto;
      padding: 2em 0em;

      div.bg {
         height: 100%;
      }
      
      section.container {
         flex-direction: column;
         margin-top: 2em;

         article.plan {
            width: 400px;
            max-width: 100%;

            &:not(:last-child) {
               margin-bottom: 2em;
            }
         }
      }
   }
}