@import '../config';

section.pricing {
   height: 100vh;
   position: relative;
   background: rgb(245, 245, 245);

   div.main-container {
      height: inherit;
      @include Center(90%);
      @include Flex(sa, none);
      flex-direction: column;
      z-index: 2;
      position: relative;
   }

   div.bg {
      background-image: url('../images/pricing.jpg');
      background-size: cover;
      width: 100%;
      height: 50vh;
      @include Absolute(0, 0);
   }

   section.text {
      color: $clr-white;
      
      h1 {
         font-size: 2rem;
         font-family: 'Sora', sans-serif;font-family: 'Comfortaa', cursive;
         font-weight: 700;
      }

      p {
         font-weight: 500;
         font-size: 1rem;
      }
   }

   section.container {
      @include Flex(sb, c);
      height: 75%;

      $colors: (1: 'royalblue', 2: 'rgb(225, 149, 7)', 3: 'red');

      article.plan {
         width: 30%;
         height: 100%;
         border-radius: .25em;
         border: 1px solid grey;
         box-shadow: 0 0 3px $clr-black, 0 0 6px $clr-black;
         background: #FFFFFF;
         background: -webkit-linear-gradient(top left, #FFFFFF, #CBCFD7);
         background: -moz-linear-gradient(top left, #FFFFFF, #CBCFD7);
         background: linear-gradient(to bottom right, #FFFFFF, #CBCFD7);
         @include Flex(sb, c);
         flex-direction: column;
         overflow: hidden;

         div.wrap { 
            width: 100%; 

            &.bottom {
               @include Flex(c, c);
               flex-direction: column;
            }
         }

         h2.title {
            width: 100%;
            font-size: 1.75rem;
            text-align: center;
            font-weight: 700;
            padding: .75em 0;
            font-family: 'Comfortaa', cursive;
            letter-spacing: 1px;
         }

         h3.price {
            font-family: 'Comfortaa', cursive;
            font-size: 3.75rem;
            font-weight: 100;
         }

         h4.list-info {
            padding: 1em 2em;
            font-weight: 600;
         }

         button {
            width: 55%;
            padding: 1em 0;
            border-radius: .2em;
            outline: 0;
            margin: 2em 0 1em 0;
            border: 0;
            cursor: pointer;
            transition: .3s;

            label {
               font-weight: 600;
               font-family: 'Sora', sans-serif;
               font-size: 1rem;
            }

            &:hover {
               width: 90%;
               filter: brightness(90%);
            }
         }

         ul {
            padding: 2em;
            padding-top: 0;
            list-style: none;

            li {
               font-family: 'Comfortaa', cursive;
               font-weight: 700;
               font-size: .9rem;
               &:not(:last-child) { margin-bottom: .75em; }
               @include Flex(none, c);

               &.true span { color: green; }
               &.false span { color: red; }

               span {
                  @include Rectangle(25px);
                  margin-right: .25em;

                  svg { @include FullSize; }
               }
            }
         }
         
         @each $i, $x in $colors {
            &:nth-child(#{$i}) {
               h2,
               button {
                  background: #{$x};
                  color: $clr-white;
               }

               h3 { color: #{$x}; }
            }
         }
      }
   }
}