@import '../config';

section.pros {
   padding: 5em 2em 8em 2em;

   section.text {
      h1,
      p {
         font-family: 'Comfortaa', cursive;
         text-align: center;
      }

      h1 {
         @include Clamp(1.5, 6, 2.2);
         font-weight: 700;
         margin-bottom: .2em;
      }

      p {
         @include Clamp(.9, 4, 1);
         font-weight: 600;
         width: 50%;
         margin: 0 auto;

         @media (max-width: 480px) { width: 100%; }
      }
   }

   section.container {
      @include Flex(sb, c);
      flex-wrap: wrap;
      margin-top: 5em;
      align-items: stretch;

      article {
         width: 25%;
         @include Flex(sb, c);
         flex-direction: column;
         border-bottom: 2px solid royalblue;
         padding-bottom: 1em;

         h2 {
            font-weight: 700;
            @include Clamp(1.25, 5, 1.5);
            margin-bottom: .75em;
            text-align: center;
         }

         p {
            text-align: center;
            color: #505050;
         }

         span {
            @include Rectangle(60px);
            color: royalblue;

            svg { @include FullSize; }
         }
      }
   }

   @media (max-width: 768px) {
      padding-bottom: 4em;

      section.container {
         flex-direction: column;
         align-items: center;

         article {
            width: 300px;
            max-width: 100%;
            &:not(:last-child) { margin-bottom: 2em; }
         }
      }
   }
}