@import '../config';

section.side-info {
   @include Flex(sa, c);
   height: 100vh;

   figure.image-div {
      width: 50%;

      figure {
         @include FullSize;

         img {
            @include FullSize;
            object-fit: cover;
         }
      }
   }

   article.text-container {
      width: 40%;

      h2 {
         font-family: 'Comfortaa', cursive;
         @include Clamp(1.75, 6, 2.75);
         font-weight: 700;
         margin-bottom: .75em;
      }

      p.tag {
         font-weight: 700;
         border-top: 1px solid rgb(195, 195, 195);
         border-bottom: 1px solid rgb(195, 195, 195);
         font-family: 'Comfortaa', cursive;
         @include Clamp(.95, 5, 1.1);
         color: #505050;

         span.icon {
            @include Rectangle(25px);
            color: rgb(174, 174, 174);

            svg { @include FullSize; }
         }
      }

      button {
         margin-top: 3em;
         padding: clamp(.5em, 4vw, 1.25em) clamp(1.5em, 5vw, 2.75em);
         border-radius: .3em;
         outline: 0;
         border: 0;
         background: purple;
         cursor: pointer;
         transition: .3s;

         label {
            @include Clamp(.9, 4, 1);
            color: $clr-white;
            font-weight: 600;
            font-family: 'Sora', sans-serif;
            transition: .3s;
         }

         &:hover {
            background: darken(purple, 10%);
         }
      }
   }

   &.first {
      p {
         padding: 1.75em .25em 2em .25em;
      }

      span.icon {
         margin-bottom: .5em;
      }
   }

   &.second {
      section.cards {
         @include Flex(sb, c);
         margin-top: 3em;
         align-items: stretch;

         div.card {
            width: 30%;
            min-width: 100px;
            background: linear-gradient(to bottom right, #753EE2, #96A4FF);
            color: $clr-white;
            border-radius: .75em;
            @include Flex(sb, c);
            flex-direction: column;
            padding: 1em .5em;
            transition: .3s;
            cursor: pointer;

            div {
               @include Flex(c, c);
               flex-direction: column;
               margin-bottom: 2em;

               h3 {
                  font-weight: 800;
                  font-size: 1.25rem;
               }
   
               span {
                  @include Rectangle(40px);
   
                  svg { @include FullSize; }
               }
            }

            p {
               text-align: center;
               font-size: .9rem;
            }

            &:hover {
               transform: scale(1.15);
            }
         }

         @media (max-width: 480px) {
            flex-direction: column;
            align-items: center;

            div.card {
               width: 250px;
               max-width: 100%;

               &:not(:last-child) {
                  margin-bottom: 1em;
               }
            }
         }
      }

      figure {
         border-radius: 1em;
         overflow: hidden;
      }

      span.icon {
         margin-bottom: .5em;
      }

      p.tag {
         padding: 1.75em 1em 2em 1em;
      }
   }

   @media (max-width: 768px) {
      padding: 2em 1em;
      height: auto;
      flex-direction: column;

      figure.image-div {
         width: 100%;
      }
 
      article.text-container {
         width: 100%;
      }

      &.first {
         figure { margin-top: 1.25em; }
      }

      &.second {
         figure { margin-bottom: 1.25em; }
      }
   }
}