@import '../config';

section.discount-info {
   padding: 6em 2em 8em 2em;
   @include Flex(sa, c);
   position: relative;

   section.discount-text {
      width: 40%;
      
      h1 {
         font-weight: 600;
         @include Clamp(2, 8, 3.25);
      }

      p {
         font-family: 'Comfortaa', cursive;
         font-weight: 700;
         color: #606060;
         line-height: 1.75em;
         margin: 1em 0 2em 0;
         @include Clamp(.9, 4, 1);

      }

      button {
         cursor: pointer;
         transition: .3s;
         width: 100%;
         outline: 0;
         border: 0;
         padding: 1em 0;
         border-radius: .15em;
         background: royalblue;

         label {
            color: $clr-white;
            font-size: 1rem;
            font-weight: 700;
            font-family: 'Comfortaa', cursive;
         }

         &:hover {
            background: darken(royalblue, 10%);
         }
      }
   }

   figure.discount-image {
      width: 40%;
      position: relative;

      div.line {
         width: 125%;
         @include Absolute(50%, 50%);
         transform: translate(-50%, -50%);
         background: red;
         height: 4px;

         &::before {
            width: 0;
            height: 0;
            content: '';
            @include Absolute(0, 100%);
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 40px solid red;
         }
      }

      figure {
         width: 100%;
         z-index: 3;
         position: relative;
         overflow: hidden;

         img {
            width: 100%;
         }
      }
   }

   @media (max-width: 768px) {
      color: $clr-white;
      margin-top: 2em;

      section.discount-text {
         width: 100%;

         h1 {
            text-shadow: 0 0 2px black;
         }

         p { color: $clr-white; }
      }

      figure.discount-image {
         @include Absolute(0, 0);
         @include FullSize;
         z-index: -1;

         figure {
            @include FullSize;

            img {
               @include FullSize;
               object-fit: cover;
            }
         }
      }
   }
}