@import '../config';

aside.aside-section {
   width: 25%;
   background: #303030;
   color: $clr-white;
   position: relative;
   transition: .3s;
   z-index: 99;

   ul.outer-ul {
      list-style: none;

      li.outer-li {
         div.chapter {
            @include Flex(sb, c);
            padding: .75em;
            background: #222222;
            cursor: pointer;
         
            h6 {
               text-transform: uppercase;
               font-size: .9rem;
               font-weight: 500;
               pointer-events: none
            }

            span {
               @include Rectangle(25px);
               pointer-events: none;
               transition: .3s;

               svg { @include FullSize; }
            }
         }

         ul.inner-ul {
            list-style: none;
            background: #191919;
            overflow: hidden;
            transition: .3s;
            height: 0;

            li.inner-li {
               padding: .75em;
               font-size: .85rem;
               font-weight: 500;
               cursor: pointer;
               transition: .3s;
               padding-left: 1.5em;
               color: #ebebeb;

               &:hover {
                  background: #202020;
               }

               &.active {
                  pointer-events: none;
                  background: rgb(54, 91, 204);
               }
            }
         }
      }
   }

   h1 {
      font-weight: 700;
      font-size: 1.25rem;
      padding: .75em;
      margin: .5em 0;
      @include Flex(none, c);

      span {
         @include Rectangle(25px);
         margin-right: .75em;

         svg { @include FullSize; }
      }
   }

   @media (max-width: 768px) {
      position: fixed;
      left: 0;
      transform: translateX(-100%);
      top: 0;
      width: 300px;
      max-width: 100%;
      height: 100vh;
      overflow-y: scroll;

      &::-webkit-scrollbar {
         width: 4px;
         background: grey;
      }

      &::-webkit-scrollbar-thumb {
         width: 100%;
         background: royalblue;
      }

      span.arrow-icon {
         display: block;
      }
   }
}