@import '../config';

footer.layout-footer {
   padding: 4em 4em 6em 4em;
   background: rgb(244, 244, 244);

   section.main {
      @include Flex(sb, c);
      
      &.top {
         margin-bottom: 8em;

         h1 {
            font-size: 2rem;
            font-weight: 500;
         }  

         ul {
            display: flex;
            list-style: none;

            li {
               @include Rectangle(35px);
               &:not(:last-child) { margin-right: .75em; }
               cursor: pointer;
               transition: .3s;
            
               svg {
                  @include FullSize;
               }

               &:hover {
                  transform: scale(1.15);
               }
            }
         }
      }

      &.bottom {
         section.links {
            @include Flex(sb, c);
            width: 60%;

            ul {
               list-style: none;
               margin-right: .5em;

               li {
                  &:first-child {
                     font-size: 1.5rem;
                     font-weight: 800;
                     margin-bottom: .25em;
                     text-transform: uppercase;
                  }

                  &:not(:first-child) {
                     font-family: 'Comfortaa', cursive;
                     font-weight: 600;
                     font-size: 1.1rem;
                     &:not(:last-child) { margin-bottom: .5em; }
                     transition: .3s;
                     cursor: pointer;

                     &:hover {
                        color: royalblue;
                     }
                  }
               }
            }
         }

         section.newsletter {
            width: 22%;
            display: flex;
            flex-direction: column;

            input {
               margin-top: 1em;
               margin-bottom: .2em;
               padding: 1em;
               outline: 0;
               border-radius: .2em;
               border: 2px solid purple;
               font-family: 'Comfortaa', cursive;
               font-size: .9rem;
               font-weight: 500;

               &::placeholder {
                  font-size: .9rem;
                  opacity: .9;
                  font-family: 'Comfortaa', cursive;
               }
            }

            h2 {
               color: purple;
               font-size: 1rem;
               font-weight: 700;
               @include Flex(none, c);

               span {
                  @include Rectangle(20px);
                  margin-right: .25em;

                  svg { @include FullSize; }
               }
            }

            button {
               transition: .3s;
               cursor: pointer;
               border: 0;
               outline: 0;
               border-radius: .15em;
               padding: .75em 2em;
               background: royalblue;
               width: max-content;

               label {
                  font-size: .9rem;
                  font-family: 'Comfortaa', cursive;
                  font-weight: 700;
                  color: $clr-white;
               }

               &:hover {
                  background: darken(royalblue, 5%);
               }
            }
         }
      }
   }
}