@import '../config';

nav.layout-navigation {
   @include Flex(sb, c);
   height: $navHeight;
   padding: .25em 2em .25em 3em;
   @include Absolute(0, 0);
   width: 100%;
   background: rgb(245, 245, 245);
   z-index: 99;

   ul.list {
      list-style: none;
      @include Flex(none, c);

      li {
         margin-left: 2em;
         font-weight: 500;
         font-size: .9rem;
         transition: .3s;
         cursor: pointer;
         position: relative;

         &:not(.register):not(.login):not(.logout):not(.plan) {
            &:before {
               content: '';
               width: 0;
               height: 2px;
               @include Absolute(50%, 100%);
               transform: translateX(-50%);
               background: royalblue;
               transition: .3s;
            }

            &:hover {
               color: royalblue;

               &:before {
                  width: 100%;
               }
            }
         }

         &.logout,
         &.register {
            border-radius: 1em;
            padding: .5em 1em;
            color: $clr-white;
            margin-left: 3em;
         }

         &.plan {
            border-radius: 1em;
            padding: .5em 1em;
            color: $clr-white;
            margin-left: 1em;
            background: royalblue;

            &:hover { background: cornflowerblue; }
         }

         &.logout {
            background: crimson;

            &:hover { background: red; }
         }

         &.register {
            background: royalblue;
            
            &:hover { background: rgb(229, 62, 1); }
         }

         &.login {
            font-weight: 700;
            margin-left: 1em;

            &:hover { color: royalblue; }
         }
      }
   }

   figure.logo {
      height: 100%;
      overflow: hidden;

      img {
         height: 100%;
      }
   }
}