section.advantages {
  height: 100vh;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.advantages section.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 6em;
}
section.advantages section.cards article.card {
  background: whitesmoke;
  padding: 1em;
  border-radius: 0.25em;
  width: 22%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
section.advantages section.cards article.card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  display: block;
  height: 50px;
  width: 50px;
  border: 3px solid royalblue;
  border-radius: 50%;
}
section.advantages section.cards article.card h3 {
  font-weight: 800;
  font-size: 1.1rem;
  margin-top: 2em;
  margin-bottom: 0.75em;
}
section.advantages section.cards article.card p {
  margin-bottom: 2.5em;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Comfortaa", cursive;
}
section.advantages section.cards article.card span.icon {
  display: block;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 2px solid royalblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.advantages section.cards article.card span.icon svg {
  width: 70%;
  height: 70%;
}
section.advantages div.text {
  text-align: center;
}
section.advantages div.text h2 {
  font-size: 1rem;
  font-weight: 600;
}
section.advantages div.text h1 {
  font-size: 3rem;
  font-weight: 200;
  color: rgb(83, 83, 83);
}